
/* SIDEBAR HEADER */
.aui-header {
	background: #03e;
	height: 50px;
	border: none;
	padding: 0;
	position: relative;
}
#nav {
	z-index: 0;
}
#nav::after {
	z-index: -1;
	display: block;
	content: "";

	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	transform: translateX(280px);
	transition: transform .4s ease-in-out;
}
.aui-sidebar.domain #nav::after {
	transform: translateX(0);
}
#nav > * {
	position: absolute;
	height: 100%;
	padding: 0 0 0 55px;
    border: none;
    font-size: inherit;
    color: inherit;

	overflow: hidden;
	white-space: nowrap;

	background: none no-repeat 15px center;
	outline: none;
	cursor: pointer;
	text-align: left;
}
#nav-views {
	background-image: url('icons/daily.svg');
	width: 220px;
	transition: width .4s ease-in-out;
}
#nav-views::after {
	display: block;
	content: "";
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	transform: translateX(280px);
	transition: transform .3s ease-in-out;
}
.aui-sidebar.domain #nav-views::after {
	transform: translateX(50px);
}
#nav-domain {
	background-image: url('icons/referer.svg');
	transform: translateX(220px);
	transition: transform .3s ease-in-out;
	padding-left: 60px;
	width: 170px;
	text-decoration: underline;
}
.aui-sidebar.domain  #nav-domain {
	transform: translateX(50px);
	cursor: text;
}
#nav-domain::-webkit-input-placeholder {
	color: inherit;
	font-style: italic;
}

.aui-page-panel-inner:first-child {
	box-sizing: border-box;
	position:fixed;
	z-index: 10000; /* This is only to put it above Leaflet & its control */
	right: 0;
	padding-left: 280px;
	pointer-events: none;
}
#month-header {
	text-align: center;
	background: white;
	border: none;
	pointer-events: all;
}
#month-header a {
	color: black;
	display: inline-block;
	cursor: pointer;
}

/* SIDEBAR GRAPH */

.aui-sidebar .aui-sidebar-body {
	top: 50px;
	overflow-x: hidden;
}
.aui-sidebar-body {
	-webkit-overflow-scrolling: touch;
}
#graph-nav {
	background: white;
	width: 100%;
	position: relative;
}
#graph-nav > svg.month {
	position: absolute;
	left: 0;
	cursor: pointer;
	transform: translateZ(0);
	transition: transform 1s ease-in-out;
}
#graph-nav > svg.month > .background {
	fill: url(#dotz2);
	width: 100%;
	display: none;
}
#graph-nav > svg.month:hover > .background {
	display: inline;
}
#graph-nav > svg.month > rect {
	shape-rendering: crispEdges;
	transform: translate(0,0);
	transition: transform 1s ease-in-out;
}
#graph-nav > svg.month > .baseline {
	stroke: black;
	fill: white;
}
#graph-nav > svg.month > .baseline-views {
	stroke: #03e;
	fill: #03e;
}
#graph-nav > svg.month > .baseline-domain {
	stroke: black;
	fill: black;
}
.aui-sidebar.domain #graph-nav > svg.month > .baseline-views,
#graph-nav > svg.month.selected > .baseline {
	transform: translate(-31px,0);
}
#graph-nav > svg.month > text {
	text-transform: uppercase;
	text-anchor: middle;
	letter-spacing: 1px;
	pointer-events: none;
}
#graph-nav > svg.month.selected > text {
	fill: white;
}
#graph-nav > svg.month > path.line {
	stroke: #03e;
	fill: none;
	transition: stroke .3s step-end;
}
.aui-sidebar.domain #graph-nav > svg.month > path.line {
	stroke: black;
}
#graph-nav > svg.month > path.area {
	stroke: none;
	fill: url(#icon);
}
#graph-nav > svg.month.selected > path.area {
	fill: url(#dotz);
}
#dotz > g {
	transform: translate(0,0);
	transition: transform .5s ease-in-out;
}
#dotz.domain > g {
	transform: translate(4px,4px);
}
/*
.aui-sidebar.domain #graph-nav > svg.month.selected > path.area {
	fill: url(#dotz3);
}
*/
#graph-nav > div.ider {
	position: absolute;
	width: 100%;
	transform: translateZ(0);
	pointer-events: none;
}
#graph-nav > div.ider > div {
	position: absolute;
	width: 100%;
	background: black;
	height: 2px;
}
#graph-nav > div.ider.selected > div {
	background: #03e;
	transition: background .3s step-end;
}
.aui-sidebar.domain #graph-nav > div.ider.selected > div {
	background: black;
}
#graph-nav > div.ider > span {
	display: block;
	position: absolute;
	top: -9px;
	width: 100%;
	text-align: center;
	letter-spacing: 1px;
}
#graph-nav > div.ider > span ~ div { /* Weird stuff going on here */
	width: 110px;
}
#graph-nav > div.ider > span ~ div:last-child {
	right: 0;
}
#graph-nav > div.event {
	box-sizing: border-box;
	position: absolute;
	border-top: 2px dotted black;
	text-align: right;
	padding-right: 4px;
	font-style: italic;
	font-size: 11px;
	pointer-events: none;
}
#graph-nav > div.event > a {
	color: inherit;
	pointer-events: all;
}
#graph-nav > #tooltip {
	height: 20px;
	background: #03e;
	position: absolute;
	padding: 3px 6px 3px 0;
	color: white;
	display: none;
	z-index: 1000;
	transform-origin: -20px 13px;
	pointer-events: none;
}
#graph-nav > #tooltip > span {
	display: inline-block;
	transform: rotate(180deg);
}
#graph-nav > #tooltip::after {
	content: '';
	display: block;
	position: absolute;
	left: -20px;
	top: 0;
	width: 0;
	height: 0;

	border-top:    13px solid transparent;
	border-right:  20px solid #03e;
	border-bottom: 13px solid transparent;
}
.aui-sidebar.domain #graph-nav > #tooltip {
	background: black;
}
.aui-sidebar.domain #graph-nav > #tooltip::after {
	border-right-color: black;
}
.aui-sidebar .aui-sidebar-footer {
	height: 40px;
	padding: 0;
	border: none;
}
#graph-scale {
	background: white;
	height: 100%;
	border-top: 2px solid black;
}
#graph-scale path {
	display: none;
}
#graph-scale line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

/* Gettin to the real meat */

#container {
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 30px;
}

table {
	table-layout: fixed;
	width: 100%;
}
table thead, table tbody {
	display: block;
}
#refer table tbody {
	height: 500px;
}
table tbody {
	overflow-y: scroll;
	overflow-x: hidden;
}
table.aui > tbody > tr,
table.aui > thead > tr {
	display: table;
	table-layout: fixed;
	width: 100%;
	cursor: default;
	border: none;
	/*overflow: hidden;*/
}
table.aui > thead {
	border-bottom: 2px solid black;
}
table.aui > tbody > tr:first-child > td {
	border: none;
}
table.aui tr.highlight {
	background: #ddd;
}
table.aui tr.selected {
	background: grey;
	color: white;
}
@keyframes page-in {
	from {-webkit-transform: translate3d(-500px,0,0); }
	to   {-webkit-transform: translateZ(0); }
}
#refer tr.page {
	background: #eee;
	-webkit-animation: page-in .2s cubic-bezier(.3,1,.5,1);
	-webkit-animation-fill-mode: backwards;
	-webkit-animation-delay: .2s;
}
#refer tr.page:nth-of-type(1) {
	-webkit-animation-delay: 0;
}
#refer tr.page:nth-of-type(2) {
	-webkit-animation-delay: .02s;
}
#refer tr.page:nth-of-type(3) {
	-webkit-animation-delay: .04s;
}
#refer tr.page:nth-of-type(4) {
	-webkit-animation-delay: .06s;
}
#refer tr.page:nth-of-type(5) {
	-webkit-animation-delay: .08s;
}
#refer tr.page:nth-of-type(6) {
	-webkit-animation-delay: .10s;
}
#refer tr.page:nth-of-type(7) {
	-webkit-animation-delay: .12s;
}
#refer tr.page:nth-of-type(8) {
	-webkit-animation-delay: .14s;
}
#refer tr.page:nth-of-type(9) {
	-webkit-animation-delay: .16s;
}
#refer tr.page:nth-of-type(10) {
	-webkit-animation-delay: .18s;
}
#refer tr.page.highlight {
	background: #ddd;
}
/*
#refer tr.selected a {
	display: none;
}
*/
#refer tr.not-page a {
	display: inline-block;
	-webkit-transition: -webkit-transform 0.2s cubic-bezier(.3,1,.5,1);
	-webkit-transform: translateZ(0);
}
#refer tr.selected a {
	color: white;
	-webkit-transform: translate3d(0,30px,0);
	-webkit-transition-timing-function: cubic-bezier(.5,0,.7,0);
}
#refer tr a:nth-of-type(2) {
	transition-delay: .02s;
}
#refer tr a:nth-of-type(3) {
	transition-delay: .04s;
}
#refer tr a:nth-of-type(4) {
	transition-delay: .06s;
}
#refer tr a:nth-of-type(5) {
	transition-delay: .08s;
}
@keyframes row-down {
	from {-webkit-transform: translate3d(0,-34px,0); }
	to   {-webkit-transform: translateZ(0); }
}
#refer tr.page ~ .not-page {
	-webkit-animation: row-down .2s cubic-bezier(.3,1,.5,1);
}
td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#refer td:nth-child(1) {
	padding-right: 0;
}
#refer td:nth-child(2) {
	padding-left: 0;
}
#refer th:nth-child(2) {
	padding-right: 26px;
	text-align: right;
}
#refer td:nth-child(2){
	width: 60px;
	text-align: right;
}
td img {
	width:  16px;
	height: 16px;
	margin-right: 8px;
	vertical-align: text-bottom;
}
#refer tr.not-page a {
	margin-left: 10px;
}
#refer tr.page > td span {
	color: #bbb;
}

svg {
	width: 100%;
}
#refer svg > g {
	cursor: pointer;
}
#refer svg > g > circle {
	/*fill: #e6e6e6;*/
	fill: white;
	stroke: black;
}
#refer svg > g.highlight > circle {
	fill: url(#dotz2);
}
#refer svg > g.selected > circle {
	display: none;
}
#refer svg > g.selected > path.page-arc {
	fill: black;
	stroke: white;
}
#refer svg > g.selected > path.page-arc.highlight {
	fill: url(#dotz3);
}

/* IP */
#ip table tbody {
	height: 350px;
}
#ip > .aui-group > div:last-child {
	width: 240px;
}
#ip tr > :last-child {
	text-align: right;
	padding-left: 0;
}
#ip tr > td:last-child {
	width: 60px; /* header can't be like this */
}
#ip tr > :first-child {
	padding-right: 0;
}
#the-leaflet-hole {
	background: white;
}
.leaflet-control-attribution {
	display: none;
}

.iclon {
	margin: 0 !important; /* :| */
}
.iclon > div {
	transition: transform 1s cubic-bezier(.5,0,0,1);
	position: absolute;
	width:  20px;
	height: 20px;
	background: black;
	opacity: .3;
	border-radius: 50%;
	left: -10px; top: -10px;
}
.iclon.highlight > div {
	background: #03e;
	opacity: 1;
}
.leaflet-bar {
	box-shadow: none;
	border: 2px solid black;
}
.leaflet-bar > .leaflet-control-zoom-in, .leaflet-bar > .leaflet-control-zoom-in:hover {
	border-bottom: 2px solid black;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background: transparent;
	box-shadow: none;
}
.leaflet-popup-content-wrapper {
	background: rgba(255,255,255,.6);
	border-radius: 0;
	border: 2px solid #03e;
	color: #03e;
}
* {
	letter-spacing: 1px;
}
.leaflet-container a.leaflet-popup-close-button {
	color: black;
	font-size: 20px;
	top: 5px;
	right: 5px;
	color: #03e;
}
pre {
	font-size: 14px;
	line-height: 16px;
}

svg * {
	stroke-width: 2;
}
/* HOUR */
#hour svg rect {
	/*fill: #eee;*/
	fill: url(#dotz2);
	stroke: black;
	shape-rendering: crispEdges;
}
#hour svg .axis line {
	stroke: black;
}
#hour svg .axis > path {
	display: none;
}
#hour svg .noon-marker > text {
	text-transform: uppercase;
	fill: #a23;
}
#hour svg .noon-marker > line {
	stroke: #a23;
}

svg#unseen {
	/*visibility: hidden;*/
}
